{% extends "layout.html" %}

{% block content %}

<div class="container-fluid">
    <div class="row">
        <!-- 主內容區 -->
        <main class="col-md-10 ml-sm-auto px-4">
            <!-- 搜尋框 -->
            <div class="row mt-4 mb-3">
                <div class="col-md-8">
                    <form method="GET" action="/questions/search">
                        <div class="input-group">
                            <!-- <input type="hidden" name="searchtype" value="q"> -->
                            <input type="text" class="form-control" name="q" placeholder="請輸入關鍵字搜尋..." aria-label="搜尋" >
                            <!-- 題目來源 -->
                            <div>
                                <select id="source-select" class="form-select" name="source" >
                                    <option selected value="">全部來源</option>
                                </select>
                            </div>
                            <div class="input-group-append">
                                <button class="btn btn-primary" type="submit">搜尋</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>

            <!-- 搜尋結果區域 -->
            <div class="row">
                <div class="col-md-12">
                    <div class="col-md-12">
                        <div class="d-flex align-items-center mb-3">
                            <h5 style="margin-block: 0px; margin-right: 15px;">{{ result_word }}</h5>
                            {% if questions %}
                            <!-- <button id="toggle-answer" class="btn btn-lightblue">顯示答案</button> -->
                        </div>

                        <div id="search-results">
                            {% for q in questions %}
                            <div class="search-results">
                                <p class="question-text"><strong>題目：</strong> {{ q.question_text }}{{q.score}}</p>
                                <div class="question-info" style="display: none;">
                                    &nbsp;{{ q.source }}&nbsp;p.{{ q.page_number }}
                                </div>
                                <ul class="search-result list-unstyled">
                                    {% set labels = ['A', 'B', 'C', 'D'] %}
                                    {% for option in q.options %}
                                    {% if option == q.answer %}
                                    <li class="answer">({{ labels[loop.index0] }}) {{ option }}</li>
                                    {% else %}
                                    <li>({{ labels[loop.index0] }}) {{ option }}</li>
                                    {% endif %}
                                    {% endfor %}
                                </ul>
                            </div>
                            {% endfor %}
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </main>
    </div>
</div>

<script>
    document.addEventListener('DOMContentLoaded', function() {
        fetch('/questions/sources_list')  
            .then(res => res.json())
            .then(data => {
                const select = document.getElementById('source-select');

                data.forEach(src => {
                    const opt = document.createElement('option');
                    opt.value = src;
                    opt.textContent = src;
                    select.appendChild(opt);
                });
            })
            .catch(err => {
                console.error('來源載入失敗:', err);
            });
    });
</script>

{% endblock %}

