body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    /*max-width: 280px;*/
}

search-result {
    /*border-top: var(--bs-border-width) solid var(--bs-border-color);*/
}

.answer_highlight {
    color: var(--bs-blue);
    font-weight: bold;
}

.btn-lightblue {
    --bs-btn-color: #74acff;
    --bs-btn-border-color: #74acff;
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: #74acff;
    --bs-btn-hover-border-color: #74acff;
    --bs-btn-focus-shadow-rgb: 13,110,253;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: #74acff;
    --bs-btn-active-border-color: #74acff;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #74acff;
    --bs-btn-disabled-bg: transparent;
    --bs-btn-disabled-border-color: #74acff;
    --bs-gradient: none
}




/* styles for validation helpers */
.field-validation-error {
    color: #b94a48;
}

.field-validation-valid {
    display: none;
}

input.input-validation-error {
    border: 1px solid #b94a48;
}

input[type="checkbox"].input-validation-error {
    border: 0 none;
}

.validation-summary-errors {
    color: #b94a48;
}

.validation-summary-valid {
    display: none;
}